<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="row">


        <div class="jumbotron jumbotron-fluid">
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        </form>
        </div>

    
        </div>
    </div>
</div>

</body>