<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="row">

        <a href="{% url 'createRestaurant' %}">New Restaurant</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'logout' %}">Logout</a>

        <div class="jumbotron jumbotron-fluid">
        {% for restaurant in res %}
        <div class="row">
        <a href="{% url 'listItems' restaurant.id %}">{{restaurant.name}}</a>
        {% if user.is_staff %}
            <a href="{% url 'updateRestaurant' restaurant.id %}">Update Restaurant</a>
        {% endif %}
        {% comment %} <a href="{% url 'updateRestaurant' restaurant.id %}">Update Restaurant</a> {% endcomment %}
        </div>
        {% endfor %}
    
        </div>
    </div>
</div>

</body>
