<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="row">

       
        <div class="jumbotron jumbotron-fluid">
        <h1>{{ res.name }}</h1>
        <a href="{% url 'addItem' res.id %}">Add Item</a>
        {% for item in items %}
        <div class="row">
        <h3>{{item.name}}</h3>
        <h4>{{item.description}}</h4>
        <p>{{item.price}}</p>

        <a href="{% url 'updateItem' res.id item.id %}">Update Item</a>
        <a href="{% url 'deleteItem' res.id item.id %}">Delete Item</a>
        </div>
        {% endfor %}
    
        </div>
    </div>
</div>

</body>
