{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>
 
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js?fbclid=IwAR2s8V1BkjgZOBQhELChAmX48Xqy1NrVdH_Et5i5smGNNwvsUGnbT4xf0OY" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</head>

<body>
    <div class="container">     
          <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
              {% if user.is_active %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
                <h3 class="card-title text-center">{{res.name}}</h3>
                {% if user.is_staff %}
                    <a href="{% url 'addItem' res.id %}">Add Item</a>
                {% endif %}
                {% for item in items %}
                {% if user.is_staff %}
                <div class="row">
                    <a href="{% url 'updateItem' res.id item.id %}">Update Item</a>
                    <a href="{% url 'deleteItem' res.id item.id %}">Delete Item</a>
                </div>
                {% endif %}
                
                    <div class="row">
                    <label>{{item.name}} -- ${{item.price}}</label>
                    </div>
                    <label>{{item.description}}</label>


                    <form action="{% url 'add_cart' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
                      <input type="number" name="quantity">
                      <input type="submit" value="add to cart">
                    </form>

                    <br/>
                    <div>
                    </ul>        
                
                {% endfor %}
                
          </div>
          
            <div class="col-md-5">
              <button class="btn btn-st btn-primary text-uppercase" type="submit" style="float: right;"><a href="{% url 'show_cart' %}">Checkout</button>
    
            </div>
          <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </body>